#logo{
    position: absolute;
    right:10px;
    bottom: 10px;
}
html {
    height: 100%;   
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
nav {
    background-color: #000000;
    color: #EEEEEE;
    display: block;
    margin: 0;
    min-width: 560px;
}
nav p {
    display: inline-block;
    font-size: 15px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > img {
    height:2.5em; 
    align=middle; 
    display:inline-block; 
    padding-left: 15px;
    margin-top: 1em;
    margin-bottom: 1em;   
}

nav > ul > li > a {
    background-color: #000000;
    font-color: #EEEEEE;
    display: block;
    line-height: 3.5em;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;
}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    background
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav a:hover {
    background-color: #545454;
}
nav li:hover > ul{
    position:absolute;
    display : block;
    margin-top:0px;
}
nav li > ul > li ul  {
    display: none;
    background-color: #000000;
    font-color: #EEEEEE;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-45px;
}

#navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
}

#mainTriangleBackground {
    /* Firefox */
    height: -moz-calc(100vh - 70px);
    /* WebKit */
    height: -webkit-calc(100vh - 70px);
    /* Opera */
    height: -o-calc(100vh - 70px);
    /* Standard */
    height: calc(100vh - 70px);   
}

.bodyText {
    font-size: 16px;   
}
